# Git
.git
.gitignore

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/

# Byte-compiled files
*.egg-info
*.egg
*.pyc

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/

# Local configs
.env
*.env

# IDE / editor
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
